
button {background-color:rgb(255,0,250); border-radius:20px; position:relative;left:100px;}

.D {background-color:rgb(255,50,250); border-radius:5px; position:relative;left:00px;}
.B {background-color:rgb(25,250,250); border-radius:5px; position:relative;left:00px;}